{% extends 'LAF/Base.html' %}
{% load static %}
{% block title %}Found Items{% endblock %}
{% block body %} 
    <div class="search-form">
        <form>
            <input type="text" id="search-input" placeholder="Enter keywords..." />
            <button type="submit" id="search-button">Search</button>
        </form>
    </div>
    <div id="results"></div>
    <table>
        <thead>
            <tr>
                <th>Description</th>
                <th>Email</th>
            </tr>
        </thead>
        {% for item in list_found%}
        <tbody>
            <tr>
                <td>{{ item.description }}</td>
                <td>{{ item.email }}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
{% endblock %}
