{% extends 'LAF/Base.html' %}
{% load static %}
{% block title %}Found Items{% endblock %}
{% block body %} 
    <div class="search-gird">
        <form id="search-form">
            <input type="text" id="search-input" placeholder="Enter keywords..." />
            <button type="submit" value="found" id="search-button"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <div id="results-container" style="display:none;"></div>
    <table>
        <thead>
            <tr>
                <th>Description</th>
                <th>Email</th>
            </tr>
        </thead>
        <div id="list-of-items">
            {% for item in list_found %}
            <tbody>
                <tr>
                    <td>{{ item.description }}</td>
                    <td>{{ item.email }}</td>
                </tr>
            </tbody>
            {% endfor %}
        </div>
    </table>
{% endblock %}
